/* 初始化設定 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* 電腦及平板主菜單 */
#main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.main-menu {
  display: flex;
}
.main-menu-item {
  margin-left: 20px;
}

/* welcome欄 */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 250px;
  margin-bottom: 30px;
}
.welcome div:last-child {
  font-size: 40px;
  text-align: center;
}

/* 主要欄目設置 */
#maincontainer {
  width: 1200px;
  margin: auto;
}

/* 小箱子設置 */
.smallbox-conatainer {
  display: flex;
}
.smallbox-item {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: rgb(223, 228, 188);
  margin: 10px;
}
.smallbox-item-text {
  padding-left: 10px;
}
.smallbox-item-img {
  width: 80px;
  height: 50px;
}

/* 大箱子設置 */
.bigbox-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 10px;
}

/* 以下為大箱子裡面的圖片跟內容 */
.bigbox-item-a {
  position: relative;
  grid-column: span 2;
}

.bigbox-item {
  position: relative;
}

.bigbox-item-img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.bigbox-item-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  padding: 10px;
  bottom: 0;
  left: 0;
}

/* 星星icon */
.bigbox-icon-star {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
img.star-icon {
  width: 40px;
  height: 40px;
}

/* ＲＷＤ手機菜單欄 */
#rwd-phone-menu {
  display: none;
}
.phone-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  border-left: 2px solid rgb(199, 193, 193);
}
.phone-menu-item {
  text-align: center;
  margin: 30px;
}
.phone-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 25px;
}
.phone-menu-close:hover {
  cursor: pointer;
}

/* 漢堡圖icon設置 */
.burger {
  display: none;
}
.burger img {
  height: 30px;
  width: 30px;
}

.burger:hover {
  cursor: pointer;
}

/* 平板尺寸設置 */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  /* 小箱子部分 */
  #maincontainer {
    width: 90%;
  }
  .smallbox-conatainer {
    flex-wrap: wrap;
  }
  .smallbox-item {
    flex: auto;
    width: 45%;
  }
  .promotion .item:nth-last-child(1) {
    flex: auto;
  }

  /* 大箱子部分 */
  .bigbox-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 10px;
  }

  .bigbox-item-a {
    grid-column: span 1;
  }

  .bigbox-item:nth-child(9) {
    grid-column: span 2;
  }

  .bigbox-item:nth-child(10) {
    grid-column: span 2;
  }
}

/* 手機尺寸設置 */
@media screen and (min-width: 360px) and (max-width: 600px) {
  #maincontainer {
    width: 90%;
  }
  /* 小箱子部分 */
  .smallbox-conatainer {
    flex-wrap: wrap;
  }
  .smallbox-item {
    flex: auto;
    width: 100%;
  }

  /* 大箱子部分 */
  .bigbox-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 20px;
    margin: 10px;
  }

  .bigbox-item-a {
    grid-column: span 1;
  }

  /* RWD手機菜單欄 */
  #rwd-phone-menu {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .burger {
    display: block;
  }
}
